.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 50px;
    background-color: #F9EAF1;
    filter: drop-shadow(0px -2px 9px rgba(60, 35, 69, 0.08));
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu nav {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
a {
    color: #3C2345;
}

.icon {
    font-size: 20px;
}

.notification-parent {
    position: relative;
}
.notification-indicator {
    position: absolute;
    top: 0;
    right: 4px;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(13, 199, 6);
    z-index: 99999;
}