@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLORS */
/* black - color: #1c1c1c; */
/* beige/white color: #FDF0E8;  */
/* lightbeirge color: #FFF9F5 */
/* blue  color: #0D23C4; */
/* orange  color: #EA744A; */
/* grey color: #6D6D6D */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.pages {
  width: 100vw;
  height: 100vh;
  
}

.logo {
  padding: 16px;
}

.margin-top {
  margin-top: 20vh;
}

/* CONTENT PLACEMENT */

.centered-content-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.full-screen-content {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.s-profile-img {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.l-profile-img {
  width: 138px;
  height: 138px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* FONT STYLES - color and font */

a {
  text-decoration: none;
}

.xs-font {
  font-size: 10px;
}

.s-font {
  font-size: 12px;
}

.m-font {
  font-size: 14px;
}

.l-font {
  font-size: 20px;
}

.xl-font {
  font-size: 45px;
}

.m-weight {
  font-weight: 600;
}

.lily-font {
  font-family: 'Lily Script One', cursive;
}

.white-text {
  color: #FDF0E8;
}

.mediumpink-text {
  color: #E497BB;
}

.dark-text {
  color:#3C2345;
}

.grey-text {
  color: #6D6D6D;
}
.black-text {
  color: #1c1c1c;
}

/* BACKGROUND */

.dark-background {
  background-color: #3C2345;
}

.light-background {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

.pink-background {
  background-color: #F9EAF1;
  height: 100%;
  width: 100%;
}

.white-background {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}

/* overflow scoll */
.overflow-scroll {
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 50px;
}

/* remove the scrollbar - display none */
.overflow-scroll::-webkit-scrollbar {
  display: none;
}

.overflow-scroll::-webkit-scrollbar-thumb {
  display: none;
}


/* BUTTON */



/* POST */
.post {
  margin: 16px;
  padding: 10px 0;
  border-bottom: 1px solid #3C2345;
  position: relative;
  max-width: 500px;
}

.post-content {
  
  margin: 10px 0;
}

.delete-post {
  position: absolute;
  right: 10px;
  top: 10px;
}

.post .post-like-comment span {
  margin-right: 10px;
}

.liked-commented {
  margin-left: 5px;
  font-size: 12px;
}

/* .input-field-container {
  position: relative;
} */

.input-field {
  width: 100%;
}

/* #input-btn {
  position: absolute;
  width: 20px;
  font-size: 10px;
  
} */

/* TERMS */

.terms {
  border-radius: 10px 10px 0 0;
  margin: 32px 16px 0 16px;
  padding: 16px;
  background-color: #F9EAF1;
  overflow-y: scroll;
}
.terms h1 {
  margin: 32px;
}

/* FORM */

form {
  width: 100%;
  max-width: 400px;
  padding: 16px; 
}
form input {
  padding: 12px 24px;
  margin: 10px 0;
}

form input{
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
  background-color: #fafafa;
  
}

form input[type=submit] {
  color: #3C2345;
  background-color: #E497BB;
  width: 50%;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 0.6px;
}

form input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

/* form input[type=checkbox]:checked {
  background-color: #FDF0E8; 
}  */

/* CUSTOM SELECT */

.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-select {
  width: 100%;
  padding: 12px 24px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #fafafa;
}

.custom-select::after {
  
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  
}

.custom-select option {
  padding: 12px 24px;
  width: 100%;
}


a {
  color:#FDF0E8
}
.terms-flex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* FEED PAGE */

.post-input-container {
  width: 90%;
  max-width: 500px;
  padding: 5px;
  border-radius: 10px;
  background-color: #fafafa;
}

.post-on-feed {
  background-color: #fafafa; 
  margin-top: 16px;
  border-radius: 10px 10px 0 0;
}

/* Selected post*/

.selected-post {
  border-radius: 10px 10px 0 0;
  width: 90%;
  max-width: 500px;
  padding: 10px;
}

.comments-container {
  overflow-y: scroll;
  margin-top: 16px;
}
/* one comment */


.comment-flex {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 5px;
}

.share-post-input, .chat-input-container {
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #F9EAF1;
}
.share-post-input #comment, .chat-input-container #chat-input{
    width: 100%;
    height: 40px;
    background-color: #F9EAF1;
    border: none;
    padding: 8px;
    outline: none;
    border-radius: 10px;
    color: #3C2345;
}

.share-post-input span{
 display: flex;
 color: #3C2345;
}

/* CHAT */

.chat-messages-container {
  overflow-y: scroll;
  height: 70%;
  padding: 16px;
}

.chat-messages-container::-webkit-scrollbar {
  display: none;
}

.chat-messages-container::-webkit-scrollbar-thumb {
  display: none;
}
.message-content {
  background-color: #E497BB;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  width: 70%;
  margin-bottom: 5px;
}

