@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLORS */
/* black - color: #1c1c1c; */
/* beige/white color: #FDF0E8;  */
/* blue  color: #0D23C4; */
/* orange  color: #EA744A; */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.pages {
  width: 100vw;
  height: 100vh;
}

.margin-top {
  margin-top: 20vh;
}

/* CONTENT PLACEMENT */

.centered-content-column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.full-screen-content {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.s-profile-img {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* FONT STYLES - color and font */

a {
  text-decoration: none;
}

.xs-font {
  font-size: 12px;
}

.s-font {
  font-size: 14px;
}

.xl-font {
  font-size: 45px;
}

.m-weight {
  font-weight: 600;
}

.lily-font {
  font-family: 'Lily Script One', cursive;
}

.white-text {
  color: #FDF0E8;
}

.orange-text {
  color: #EA744A;
}

/* BLUE BACKGROUND */

.blue-background {
  background-color: #0D23C4;
}

/* BUTTON */
